* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #669bbc;
}

body {
    background-color: #003049;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #c1121f;
    background-color: #fdf0d5;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #fdf0d5;
    color: #000;
    border: none;
}

#new-game-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #fdf0d5;
    color: #000;
    border: none;
}

#msg {
    color: #fdf0d5;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}